*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	width: 100%;
}

a{
	color: #000;
	text-decoration: none;
}

li{
	list-style: none;
}

/*header styles*/
header li{
	font-size: 20px;
	padding-left: 100px;
	padding-bottom: 73px;
}

/*section styles*/
.mainPhoto{
	max-width: 1640px;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 73px;
}

.section-article article{
	max-width: 483px;
	width: 100%;

	padding-bottom: 95px;
}

.section-article p{
	padding: 33px 25px 33px 12px;
}

h1{
	font-size: 40px;
	padding-left: 100px;
	margin-top: 70px;
	margin-bottom: 70px;
}

h2{
	font-size: 30px;
}

p{
	font-size: 18px;
}

section a{
	font-size: 24px;
	margin-top: 56px;
}

.loadMore{
	font-size: 30px;
	padding-left: 100px;
}

/*footer styles*/
h3{
	font-size: 20;
}

.misamarti{
	font-size: 13px;
}

footer{
	background-color: #2E2E2E;
	padding: 67px 100px 78px 100px;
	margin-top: 68px;
}